html, body {
    font-family: 'Montserrat', sans-serif;
    background: #F9FAFA;
}

/* .modal-open .modal-backdrop {
    background-color: #272F36;
    opacity: 0.08;
} */

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto, .col-left, .col-center .col-right {
    padding-left: 12px;
    padding-right: 12px;
}

.btn-blue-primary {
    background: #1EA2ED;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-decoration: none;
}

.btn-blue-primary:hover {
    color: #fff;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
    width: 100%;
    height: 70px;
}

.nav h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #272F36;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav h1 .ic-1 {
    width: 32px;
    height: 32px;
    margin-right: 16px;
}

.nav h1 .ic-2 {
    width: 32px;
    height: 32px;
    margin-left: 16px;
}

.nav .nav-brand {
    cursor: pointer;
}

.nav .nav-brand a {
    text-decoration: none;
}

.nav .nav-brand .title-mobile {
    display: none;
}

.nav .btn-logout {
    border: 1px solid #F96B6B;
    border-radius: 8px;
    width: 87px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #F96B6B;
    cursor: pointer;
    transition: .3s all ease-in-out;
}

.nav .btn-logout:hover {
    background-color: #F96B6B;
    color: #FFFFFF;
}

.content {
    padding-top: 20px;
    height: calc(100vh - 70px);
}

.content .row {
    margin-left: -12px;
    margin-right: -12px;
}

.content .row-primary {
    display: grid;
    grid-template-columns: auto auto auto;
}

.content .card-title {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #70767D;
    margin-bottom: 10px;
}

.content .card {
    background: #FFFFFF;
    border: 1px solid #CDD1D5;
    border-radius: 8px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    justify-content: space-evenly;
    padding: 12px 0;
}

.content .col-left .card {
    grid-template-columns: auto auto;
}

.content .col-right .card {
    grid-template-columns: auto auto auto;
}

.content .col-left .card,
.content .col-center .card-col-center,
.content .col-right .card-col-right {
    margin-bottom: 20px;
}

.content .card .app-menu,
.modal .app-menu {
    width: 128px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
}

.content .card .app-menu a,
.modal .app-menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.card .app-menu .img,
.modal .app-menu .img {
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .app-menu:hover .img::after,
.modal .app-menu:hover .img::after {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.card .app-menu .img::after,
.modal .app-menu .img::after {
    content: '';
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: #F3F9F9;
    border-radius: 20px;
    z-index: 1;
    transition: .2s all ease-in-out;
    transform: scale(.7);
}

.card .app-menu .img img,
.modal .app-menu .img img {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
}

#modalLiveTraffic .app-menu .img img {
    width: 48px;
    height: 48px;
}

.card .app-menu p,
.modal .app-menu p {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #70767D;
    margin: 0;
    word-wrap: break-word;
    max-width: 108px;
}

.card .app-menu:hover p,
.modal .app-menu:hover p {
    font-weight: 600;
    color: #1EA2ED;
}

.modal-content {
    border-radius: 8px;
    border: 1px solid #CDD1D5;
}

.modal-header {
    padding: 20px 20px 20px 22px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: none;
    border-bottom: 1px solid #EEEEEE;
    align-items: center;
    height: 67px;
}

.modal-header button {
    outline: none !important;
    appearance: none !important;
}

.modal-header .back {
    border: none;
    background-color: transparent;
    padding-left: 0;
    padding-right: 12px;
    border-right: 1px solid #CDD1D5;
    margin-right: 12px;
}

.modal-header .back img {
    margin: 0 !important;
    padding: 0 !important;
    width: 24px;
    height: 24px;
}

.modal-header .back .hover {
    display: none;
}

.modal-header .back:hover .icon {
    display: none;
}

.modal-header .back:hover .hover {
    display: block;
}

.modal-body {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    padding: 20px;
}

.modal-body .box-notes {
    background: #F3F9F9;
    border-radius: 8px;
    padding: 13px 15px;
    margin: 18px 0 20px;
    display: block;
    width: 100%;
}

#modalInjury .modal-body .box-notes {
    margin: 0 0 30px;
}

.modal-body .box-notes p {
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #272F36;
    margin: 0;
}

#modalAccident .modal-body,
#modalHazard .modal-body,
#modalGuides2 .modal-body,
#modalInjury .modal-body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#modalAccident .modal-body,
#modalInjury .modal-body {
    flex-wrap: wrap;
}

#modalRoadAssist .modal-body {
    display: flex;
    flex-direction: column;
    padding: 25px 0 36px;
    overflow: auto;
    justify-content: unset;
}

.modal-header .modal-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #272F36;
    display: flex;
    align-items: center;
}

.modal-header .modal-title span {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #70767D;
}

.modal-header .modal-title img {
    margin: 0 4px;
}

#modalRoadAssist p {
    margin: 0 0 25px 20px;
}

#modalRoadAssist .phone-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EEEEEE;
    padding: 20px 0;
    margin: 0 20px;
}

.phone-item h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #272F36;
    margin-bottom: 0;
}

.phone-item .number {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #1EA2ED;
}

.phone-item .number img {
    margin-right: 12px;
}

@media(min-width: 576px) {
    .modal-dialog {
        max-width: 456px;
    }
}

@media(min-width: 768px) {
    .row-primary {
        flex-direction: column;
    }
    .col-left,
    .col-center,
    .col-right {
        max-width: 100%;
        width: 100%;
    }
    .col-left .card,
    .col-right .card,
    .col-center .card {
        margin-bottom: 20px;
    }
}

@media(min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media(min-width: 1320px) {
    .container {
        max-width: 1320px;
    }
    .col-center, .col-right {
        flex-direction: column;
    }
    .col-center-inner, .col-right-inner {
        max-width: 100%;
        width: 100%;
    }
    .col-center-inner,
    .col-right-inner {
        max-width: 100%;
        width: 100%;
        padding-left: 0;
    }
    .col-center .col-center-inner:first-child,
    .col-right .col-right-inner:first-child {
        padding-right: 0;
    }
}

@media(max-width: 1319px) {
    .content .row-primary {
        grid-template-columns: auto;
    }
    .col-center,
    .col-right {
        display: flex;
        flex-direction: row;
    }
    .col-center-inner,
    .col-right-inner {
        max-width: 50%;
        width: 50%;
        padding-left: 10px;
    }
    .col-center .col-center-inner:first-child,
    .col-right .col-right-inner:first-child {
        padding-left: 0;
        padding-right: 10px;
    }
    .content .col-left .card {
        grid-template-columns: auto auto auto auto auto auto;
    }
    .content .col-center .card {
        grid-template-columns: auto auto auto;
    }
    .content .card .app-menu,
    .modal .app-menu {
        height: 100px;
    }
}

@media(max-width: 991px) {
    .container {
        max-width: 850px;
    }
}

@media(max-width: 849px) {
    .container {
        max-width: 780px;
    }
    .col-center, .col-right {
        flex-direction: column;
    }
    .col-center-inner, .col-right-inner {
        max-width: 100%;
        width: 100%;
    }
    .col-center-inner,
    .col-right-inner {
        max-width: 100%;
        width: 100%;
        padding-left: 0;
    }
    .col-center .col-center-inner:first-child,
    .col-right .col-right-inner:first-child {
        padding-right: 0;
    }
    .content .col-left .card,
    .content .col-center .card,
    .content .col-right .card {
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;
    }
    .content .col-center .col-center-inner:last-child .card {
        margin-bottom: 20px;
    }
}

@media(max-width: 767px) {
    .nav {
        padding: 28px 20px 28px 40px;
        height: 86px;
    }
    .nav h1 {
        line-height: 1.2;
    }
}

@media(max-width: 670px) {
    .nav {
        padding: 10px 24px;
        height: 70px;
    }
    .nav .nav-brand {
        display: flex;
        flex-direction: column;
    }
    .nav .nav-brand h1 {
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        color: #272F36;
        text-align: left;
        margin: 2px 0 0;
    }
    .nav .title-desktop {
        display: none;
    }
    .nav .nav-brand .title-mobile {
        display: block;
    }
}

@media(max-width: 575px) {
    .content {
        padding-top: 2px;
    }
    .content .card-title {
        margin-left: 24px;
    }
    .content .col-left .card-title {
        margin-left: 12px;
    }
    .content .col-left {
        padding-top: 29px;
        background-color: #FFFFFF;
    }
    .content .col-center,
    .content .col-right {
        margin-top: 6px;
        background-color: #f9f9f9;
        padding-left: 0;
        padding-right: 0;
    }
    .content .col-center .col-center-inner.last,
    .content .col-right .col-right-inner.last {
        margin-top: 6px;
    }
    .content .col-center .col-center-inner,
    .content .col-right .col-right-inner {
        padding-top: 25px;
    }
    .content .col-left .card, 
    .content .col-center .card-col-center, 
    .content .col-right .card-col-right {
        margin-bottom: 24px;
    }
    .content .col-left .card,
    .content .col-center .col-center-inner,
    .content .col-center .card,
    .content .col-right .col-right-inner,
    .content .col-right .card {
        background-color: #FFFFFF;
        border: none;
    }
    .content .card .app-menu,
    .modal .app-menu {
        width: 128px;
        height: 128px;
    }
    .modal-backrop {
        background-color: #272F36;
        opacity: 0.08;
    }
    .modal-dialog {
        margin: 0;
        align-items: flex-end;
        height: 100%;
    }
    .modal.fade .modal-dialog {
        transform: none;
    }
    .modal,
    .modal .modal-content {
        position: fixed;
        left: 0;
        opacity: 0;
        visibility: hidden;
        width: 100vw;
        transition: .5s all ease-in-out;
    }
    .modal .modal-content {
        bottom: -100px;
    }
    .modal.show,
    .modal.show .modal-content {
        opacity: 1;
        visibility: visible;
        transition: .5s all ease-in-out;
    }
    .modal.show .modal-content {
        bottom: 0;
        max-height: 90%;
    }
    .modal-content {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .modal-header .modal-title {
        font-size: 13px;
        line-height: 15px;
    }
    
    .modal-header .modal-title span {
        font-size: 13px;
        line-height: 15px;
    }
    #modalInjury .btn-blue-primary {
        width: 100%;
    }
}

@media(max-width: 430px) {
    .content .card .app-menu {
        width: 100px;
    }
}

@media(max-width: 340px) {
    .content .card .app-menu,
    .modal .app-menu {
        width: 90px;
    }
}